.header {
  background-color: #fff;
  font-size: 20px;
  color: #487bd7;
  font-weight: bold;
  margin-right: 10px;
  .logo {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .user {
    float: right;
    font-weight: 600;
    font-size: 16px;
  }
}
